/*div.container-fluid{
    background: #6cc3c8;
}*/

.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: #6f7178;
    text-shadow: #6cc3c8 0.3em 0.3em 0.3em;
    background-image: : url('img/mysteryMachine.png');
    background: transparent;
}

.jumbotron img {
    height:200px;
    float:right;
}

h1 { font-family: 'Rakoon', arial, serif; }

.nav_picture {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin: 7px;
}
#map {
    height: 400px;
    width: 100%;
}
#event-results {
    max-height: 430px;
}
#ul-event-results {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
#event-users {
    max-height: 430px;
}
#ul-event-users {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
