/*div.container-fluid{
    background: #6cc3c8;
}*/
/*
@font-face {
  font-family: 'Rakoon';
  src: local('Rakoon'), url(../fonts/Rakoon_PersonalUse.ttf) format('ttf');
}*/
.custom {
  cursor: url('../img/flower.png'), auto;
  height: 100px;
}

body {
   background-color: #E0F8F7; 
  /* Visual */
  /*background-image: url('../img/disco.png');*/
  width: 100%;
  height: 30%;
}


.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: #6f7178;
    text-shadow: #6cc3c8 0.3em 0.3em 0.3em;
    background: transparent;
    /*font-family: 'Gorditas', cursive, bold;*/
    font-family: 'Spicy Rice', cursive, bold;
    /*font-family: 'Modak', cursive, bold;*/
}

.jumbotron img {
    height:350px;
    float:right;
}



.nav_picture {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin: 7px;
    max-width: 30px: 
    max-height: 30px;
}
#map {
    height: 400px;
    width: 100%;
}
#event-results {
    max-height: 430px;
}


#ul-event-results {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

#event-users {
    max-height: 430px;
}
#ul-event-users {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
#user-events {
    max-height: 400px;
}
#ul-user-events {
    height: 370px;
    overflow: hidden;
    overflow-y: scroll;
}

.badge-pill {
    background-color: #fa594b;
}

#display.true {
    display: visible;
}

#display.false {
    display: none;
}

.userReminder h3{
    font-family: 'Gorditas', cursive;
/*    float: right;*/
    color: #6f7178;
}

div.panel-heading {
    font-family: 'Source Sans Pro', sans-serif, bold;
    background-color: #CEECF5 !important;
    border-style: solid;
    border-color: #6cc3c8 #7cbf4d !important; 

}

div.panel-body {
    font-family: 'Source Sans Pro', sans-serif, bold;
    background-color: #CEECF5; 
    border-style: solid;
    border-color: #6cc3c8 #7cbf4d !important;
}
.user-events {
    padding: 5px 0px 5px 0px;
}
.user-events:hover {
    box-shadow: 5px 5px 5px #888888;
}

.navbar-btn {
    margin-right: 15px;
}
